<header #headerRef class="sticky">
    <ng-container *ngIf="deviceType !== Devices.MOBILE">
        <mat-toolbar color="primary">
            <div class="container">
                <div routerLink="/">
                    <ng-container *ngIf="!logo.hide">
                        <img [src]="logo.src" [alt]="logo.alt" [srcset]="logo.srcset" />
                    </ng-container>
                    <h1 class="title">{{ title }}</h1>
                </div>
                <span style="flex: 1 1 auto"></span>

                <ng-container *ngIf="!(authService.isAuthenticated()); else authenticated">
                    <button mat-flat-button routerLink="/sign-in">
                        <mat-icon>login</mat-icon> Sign In
                    </button>
                    <button mat-flat-button routerLink="/sign-up">
                        <mat-icon>person</mat-icon> Sign Up
                    </button>
                </ng-container>

                <ng-template #authenticated>
                    <button class="user-dropdown-button" mat-icon-button [matMenuTriggerFor]="menu">
                        {{ (currentUser$ | async)?.name?.charAt(0) }}
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="authService.logout()" routerLink="/home">
                            <mat-icon>logout</mat-icon> Sign Out
                        </button>
                    </mat-menu>
                </ng-template>
            </div>
        </mat-toolbar>
    </ng-container>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <ng-container *ngIf="deviceType === Devices.MOBILE">
        <mat-toolbar class="toolbarNav">
            <!-- Opcional: elementos de navegación móvil -->
        </mat-toolbar>
    </ng-container>
</footer>