mat-drawer-container.container
    width: 100%
    height: calc(100vh - 64px)
    mat-drawer
        background-color: #0056b3
        color: #fff
        border-radius: 0px
        transition: width 0.3s ease
        width: auto
        &.expanded
                width: 20%
                max-width: 250px
                padding-right: 1rem

        .sidenav-btn-main
            padding-bottom: 1rem
            flex-direction: row-reverse

        .sidenav-btn
            padding: 0.5rem
            display: flex
            align-items: center
            justify-content: flex-start
        .entry
            display: flex
            align-items: center
            gap: 1rem
            padding: 0.75rem

        button
            display: flex
            align-items: center
            justify-content: center
            color: #fff

    mat-drawer-content
            padding: 1rem
            display: flex
            flex-direction: column
            align-items: flex-start